@using Blog.Web.Areas.Member.Models.DTOs
@model Tuple< List<GetArticleWithUsersVM>, ArticleFilterDTO, List<Category>,List<AppUser>>

@section Header
    {
    <header class="header" id="home">
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://raw.githubusercontent.com/creativetimofficial/argon-dashboard/gh-pages/assets-old/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            @*            <span class="mask bg-gradient-default opacity-8"></span>*@
            <!-- Header container -->
        </div>
        <!-- Header-widget -->
        <div class="widget">
            <div class="widget-item">
                <h2>@Model.Item4.Count()</h2>
                <p>Adet Yazar</p>
            </div>
            <div class="widget-item">
                <h2>@Model.Item1.Count()</h2>
                <p>Adet Makale</p>
            </div>
            <div class="widget-item">
                <h2>@Model.Item3.Count()</h2>
                <p>Adet Kategori</p>
            </div>
        </div>
    </header>
   }

<section class="ftco-section ftco-no-pt ftco-no-pb ">
    <div class="container mt-5">
        <div class="row d-flex">
           
            <div class="col-xl-12 py-5 px-md-5">
                <div class="row">
                    @foreach (var item in Model.Item1)
                    {
                        <div class=" card col-md-12 mb-4">
                            <div class="blog-entry ftco-animate d-md-flex fadeInUp ftco-animated mt-4 mb-2">
                                <img src="@item.Image" class="img img-2">
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a>@item.Title</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>@item.CreatedDate.ToShortDateString()</span>
                                            <span><a asp-action="Detail" asp-controller="Category" asp-route-id="@item.CategoryId"><i class="icon-folder-o mr-2"></i>@item.CategoryName</a></span>
                                            <span><i class="ti-thumb-up"></i>@item.Likes.Count()</span>
                                            <span><i class="icon-comment2 mr-2"></i>@item.Comments.Count()</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">@item.Content.Substring(0,150)</p>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a asp-action="Detail" asp-controller="Article" asp-area="Member" asp-route-id="@item.ArticleID">Devamı için Tıklayınız...</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Detail" asp-controller="Article" asp-area="" asp-route-id="@item.ArticleID">Devamı için Tıklayınız...</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    
                </div><!-- END-->
            </div>
           
        </div>
    </div>
</section>

@section Footer
    {
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <div class="copyright">
                    <p>Made with <a href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">Argon Dashboard</a> by Creative Tim</p>
                </div>
            </div>
        </div>
    </footer>

}