@model List<GetArticleWithUsersVM>

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                    <!-- Post -->
                    @foreach (var item in Model)
                   {
                        <div class="post">
                            <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="@item.Image" alt="user image">
                            <span class="username">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a asp-action="Detail" asp-controller="Article" asp-area="Member" asp-route-id="@item.ArticleID">@item.Title</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Detail" asp-controller="Article" asp-area="" asp-route-id="@item.ArticleID">@item.Title</a>
                                    }
                            <a href = "#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                            </span>
                            <span class="description">@item.CategoryName - @item.CreatedDate</span>
                            </div>
                            <!-- /.user-block -->
                            <p>
                                @item.Content.Substring(0,150)
                            </p>

                            @*<input class="form-control form-control-sm" type="text" placeholder="Type a comment">*@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-action="Detail" asp-controller="Article" asp-area="Member" asp-route-id="@item.ArticleID">Detay için Tıkla...</a>
                            }
                            else
                            {
                                <a asp-action="Detail" asp-controller="Article" asp-area="" asp-route-id="@item.ArticleID">Detay için Tıkla...</a>
                            }
                            </div>
                            }
            </div>
        </div>
    </div>
</div>
